<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.wellcome">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
                android:name=".SearchCityActivity"
                android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".FirstMenuActivity"
                android:exported="true"
                android:label="Firstmenu"
                android:theme="@style/Theme.Wellcome.NoActionBar">

        </activity>
        <activity
                android:name=".MenuLesson"
                android:exported="true"
                android:label="@string/title_activity_menu"
                android:theme="@style/Theme.Wellcome.NoActionBar"></activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MenuAssistance"
                android:exported="true"
                android:label="MenuAssistance"
                android:theme="@style/Theme.Wellcome.NoActionBar"></activity>
        <activity
                android:name=".activity_consult_lesson"
                android:exported="true"
                android:label="MenuAssistance"
                android:theme="@style/Theme.Wellcome.NoActionBar"></activity>
        <activity
                android:name=".ActivityConsultAssistance"
                android:exported="true"
                android:label="MenuAssistance"
                android:theme="@style/Theme.Wellcome.NoActionBar"></activity>
    </application>

</manifest>